<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>goofyFont</key>
	<string>Zapfino</string>
	<key>goofyFontSize</key>
	<integer>27</integer>
	<key>headlineFont</key>
	<string>Avenir-Book</string>
	<key>subheadlineFont</key>
	<string>Avenir-Book</string>
	<key>bodyFont</key>
	<string>Avenir-Book</string>
	<key>headlineFontSize</key>
	<integer>24</integer>
	<key>subheadlineFontSize</key>
	<integer>18</integer>
	<key>bodyFontSize</key>
	<integer>12</integer>
	<key>primaryBrandColor</key>
	<string>mojoGreen</string>
	<key>mojoGreen</key>
	<string>#28ba00</string>
	<key>backgroundColor</key>
	<string>betterRed</string>
	<key>red</key>
	<string>#FF0000</string>
	<key>betterRed</key>
	<string>#FF4136</string>
	<key>zeroPoint</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>zeroSize</key>
	<dict>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
	</dict>
	<key>aPoint</key>
	<dict>
		<key>x</key>
		<integer>150</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<key>aSize</key>
	<dict>
		<key>width</key>
		<integer>150</integer>
		<key>height</key>
		<integer>400</integer>
	</dict>
</dict>
</plist>
