<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primaryBrandColor</key>
	<string>mojoGreen</string>
	<key>mojoGreen</key>
	<string>#28ba00</string>
	<key>backgroundColor</key>
	<string>#ff0000</string>
</dict>
</plist>
